#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.card {
	display: none;
}

ul {
	list-style-type: none;
}

#headerForecast {
	text-transform: capitalize;
}

#navHome, #navWeather, #navUv, #navForecast, #navOzone{
	color: gray; 
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}