#gustavpalm {
	font-family: 'Bungee Shade', cursive;
	font-size: 10em;
}


@media (max-width: 576px){ 


  /*--------------------------------
  	General Media
  --------------------------------*/

	p   {
		font-size: 1.2em;
	}

	/*--------------------------------
  	ID:s Media
  --------------------------------*/

	#gustavpalm {
		font-size: 5em;
		text-align: center;
	}

	#html, #css, #js {
		display: none;
	}

	#formBtn {
		display: inline-block;
	}
	
	#footerText {
		font-size: 1em;
	}

	/*--------------------------------
  	Classes Media
  --------------------------------*/

	.lead, .about{
		text-align: center;
	}

	.CV {
		text-align: center;
	}

	.dividers {
		display: none;
	}

	.card {
		text-align: center;
		padding: 10px;
	}

	.card-title {		
		font-size: 2em;
		text-align: center;
		padding: 10px;
	}

	.navbar-toggler {
		max-width: 100%;
		max-height: 100%;
	}
}
/*---------------------------------
	About
---------------------------------*/

#gustav {
	border: 5px solid #3366ff;
}

/*---------------------------------
	Skills
---------------------------------*/

#html:hover {
	opacity: 0.75;
}


/*---------------------------------
	CV
---------------------------------*/

.hide, .hide1 {
	display: none;
}

/*---------------------------------
	Form
---------------------------------*/

.modal-title {
	color: #fff;
}

.form-group input:focus {
	outline: none;
  border: 1px solid #0040ff;
  transition: border .5s linear;
  -webkit-transition: border .5s linear;
  -moz-transition: border .5s linear;
  -o-transition: border .5s linear;

} 

#formHeader {
	text-align: center;
}

.sweet-alert.mycustomclass button.cancel {
  color: red;
}

/*---------------------------------
	Socialmedia
---------------------------------*/


/*---------------------------------
	Footer
---------------------------------*/

footer {
	background:#323233;
	color: #fff;
	text-align: center;
}

#swe-flag {
	display: none;
}
.flags {
	max-width: 10px;
	max-height: 10px;
}
	