#gustavpalm {
	font-family: 'Bungee Shade', cursive;
}

@media (max-width: 544px){ 

	#html, #css, #js {

		display: none;

	}

	.dividers {

		display: none;

	}

	.card-title {

		text-align: center;
		padding: 10px;

	}

	.navbar-toggler {
		max-width: 100%;
		max-height: 100%;
	}


}
/*---------------------------------
	About
---------------------------------*/

#gustav {
	border: 5px solid #3366ff;
}

/*---------------------------------
	Skills
---------------------------------*/

#html:hover {
	opacity: 0.75;
}


/*---------------------------------
	CV
---------------------------------*/

.hide, .hide1 {
	display: none;
}

/*---------------------------------
	Form
---------------------------------*/

.modal-title {
	color: #fff;
}

.form-group input:focus {
	outline: none;
  border: 1px solid #0040ff;
  transition: border .5s linear;
  -webkit-transition: border .5s linear;
  -moz-transition: border .5s linear;
  -o-transition: border .5s linear;

} 

#formHeader {
	text-align: center;
}

.sweet-alert.mycustomclass button.cancel {
  color: red;
}

/*---------------------------------
	Footer
---------------------------------*/



/*---------------------------------
	Footer
---------------------------------*/

footer {
	background:#323233;
	color: #fff;
	text-align: center;
}

#swe-flag {
	display: none;
}
.flags {
	max-width: 10px;
	max-height: 10px;
}
	